.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
@import url("//fonts.googleapis.com/css?family=Oswald");
/* line 3, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
* {
  margin: 0px;
}

@media only screen and (max-width: 500px) {
  /* line 8, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
  .btn-light {
    margin: 5% 0 5% 0;
  }
}
/* line 13, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.header,
.logo,
h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

/* line 20, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
html {
  height: 100%;
}

/* line 24, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
body {
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 33, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 39, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 45, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 48, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 52, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 58, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 62, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 67, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 72, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 76, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 82, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 89, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}
/* line 97, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 103, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 107, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.site-body {
  margin: 2% 5% 5% 5%;
}

/* line 111, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.carousel-caption h2 {
  color: black;
  background-color: white;
  font-size: 1.2rem;
}

/* line 117, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 10%;
  background-color: black;
}

/* line 123, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.card,
.prod-cards {
  margin: 1%;
}

/* line 128, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* line 132, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
a.nav-link {
  color: white;
  font-size: 1.2rem;
}

/* line 137, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
a.navbar-brand {
  font-size: 2rem;
}

/* line 141, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
p.alert.alert-dark {
  font-size: 1.5rem;
}

/* line 145, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
p.notice.alert-dark {
  font-size: 1.5rem;
}

/* line 149, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.prod-desc {
  display: inline-block;
  margin: 5% 0 1% 5%;
  font-size: 1em;
  max-width: 480px;
}

/* line 156, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.comm-box {
  border: 1px black solid;
  padding: 2%;
  margin-bottom: 2%;
  background-color: #e7e7e6;
}

/* line 163, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.del-com {
  float: right;
}

/* line 167, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 2% 5% 0 5%;
  margin-bottom: -142px;
}

/* line 174, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/*Begin Pagination*/
/* line 181, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

/* line 186, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

/* line 192, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #e7e7e6;
}

/* line 196, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid #e7e7e6;
}

/* line 203, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination a {
  text-decoration: none;
  color: black;
  border: 1px solid #e7e7e6;
}

/* line 208, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  background-color: #383c42;
  color: #e7e7e6;
  border-color: #e7e7e6;
}

/* line 213, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination .page_info {
  background: #e7e7e6;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

/* line 221, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

/* line 226, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 233, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
* html .digg_pagination {
  height: 1%;
}

/* line 236, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* End Pagination*/
/*Sticky Footer*/
/* line 242, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.site-footer, .page-wrap:after {
  height: 142px;
}

/* line 246, /home/matthew/Desktop/WebDev/Project2/app/assets/stylesheets/scaffolds.scss */
.site-footer {
  background: #383c42;
  color: white;
}

/*end of Sticky Footer*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

