<form action="/payments/create" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-name="MARS"
    data-description="Men's Clothing and Gift Marketplace"
    data-amount="<%= @product.price %>">
  </script>
</form>
